bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
Click==7.0
configobj==5.0.6
configparser==3.7.1
decorator==4.3.2
fitz==0.0.1.dev2
funcsigs==1.0.2
httplib2==0.12.0
idna==2.8
isodate==0.6.0
lxml==4.3.0
networkx==2.2
neurdflib==5.0.0.post1
nibabel==2.3.3
nipype==1.1.8
numpy==1.16.1
packaging==19.0
pandas==0.24.0
Pillow==5.4.1
prov==1.5.3
pydot==1.4.1
pydotplus==2.0.2
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
pyxnat==1.0.1.0
rdflib==4.2.2
reportlab==3.5.13
requests==2.21.0
scipy==1.2.0
simplejson==3.16.0
six==1.12.0
traits==5.0.0
urllib3==1.24.2
